
/* HEADER */
body {
    font-family: 'Raleway', sans-serif;
}

h4 {
    letter-spacing: 2px;
    display: inline-block;
    padding-bottom: 30px;
    margin-right: 20px;
    padding: auto;
}

.xcolor {
    color: #ffcc00;
}


/* END OF NAV SECTION */
/* END OF HEADER */

.containerinfo {
    background-color: rgb(255, 255, 255);
}

/* START OF ABOUT ME SECTION */
.amtitle {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    background-color: rgb(255, 255, 255);
}

/* START OF FORM SECTION */
.form {
    padding-top: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

#name, input[type=text] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: solid 2px #ffcc00;
    border-top: none;
    border-left: none;
    border-right: none;
}

#email, input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: solid 2px #ffcc00;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type=submit] {
    background-color: #ffcc00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #333;
}
