body {
    font-family: 'Raleway', sans-serif;
}

nav {
    font-size: small;
    position: absolute;
    top: 20px;
    right: 0px;
}

h4 {
    letter-spacing: 2px;
    display: inline-block;
    padding-bottom: 30px;
    margin-right: 20px;
    padding: auto;


}

.containerhero {
    position: relative;
  }
 
  a:link {
    text-decoration: none; 
    color: #333;
  }

  a:visited {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: none;
    background-color: #e0bc34;
    padding: 2px;
  }
  
  a:active {
    text-decoration: none;
  }

  
.containerinfo {
    background-color: antiquewhite;

}

.amtitle {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 5px;
    background-color: rgb(255, 255, 255);
}

.ampix {
    align-items: center;
    background-color: rgb(255, 255, 255);    
    display: flex;
    align-items: center;
    padding-left: 28%;

}

.ampix p {
    padding-right: 30%;
    display: flexbox;
    /* flex-wrap: wrap; */
    max-width: 300px;
    padding-top: 2%;
    font-weight: bold;
    font-size: smaller;
    line-height: 23px;

}



